{% extends 'default.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="well well-sm">
            <strong>Сортировка (email): </strong>
            <div class="btn-group">
                <a href="/TaskManager?val=email&order=asc" class="btn btn-default btn-sm">
                    <span></span>Asc</a>
                <a href="/TaskManager?val=email&order=desc" class="btn btn-default btn-sm">
                    <span></span>Desc</a>
            </div>
            <strong> Сортировка (name): </strong>
            <div class="btn-group">
                <a href="/TaskManager?val=name&order=asc" class="btn btn-default btn-sm">
                    <span></span>Asc</a>
                <a href="/TaskManager?val=name&order=desc" class="btn btn-default btn-sm">
                    <span></span>Desc</a>
            </div>
            <strong>Сортировка (status): </strong>
            <div class="btn-group">
                <a href="/TaskManager?val=status&order=asc" class="btn btn-default btn-sm">
                    <span></span>Asc</a>
                <a href="/TaskManager?val=status&order=desc" class="btn btn-default btn-sm">
                    <span></span>Desc</a>
            </div>
        </div>

        <div id="products" class="row list-group">
            {% for task in tasks %}
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png"
                             alt="3"/>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">{{ task.name }}</h4>
                            <p class="group inner list-group-item-text">
                                {{ task.text }}
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <p class="lead">
                                        {{ task.email }}</p>
                                </div>
                                <br><br>

                                <div class="col-xs-12 col-md-4">
                                    {% if task.status == 1 %}
                                        <a class="btn btn-success pull-right"
                                           href="/TaskManager/update?id={{ task.id }}&status=0">Закрыть</a>

                                    {% else %}
                                        <a class="btn btn-danger pull-right"
                                           href="/TaskManager/update?id={{ task.id }}&status=1">Открыть</a>
                                    {% endif %}
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <a class="btn btn-success pull-right" href="/TaskManager/delete?id={{ task.id }}">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <ul class="pagination">
                <li><a href="?page=1">First</a></li>

                <li class="{% if  paginator['page'] <= 1 %} disabled {% endif %}">
                    <a href="{% if  paginator['page'] <= 1 %} # {% else %} ?page={{ paginator['page'] - 1 }} {% endif %}">Prev</a>
                </li>
                <li class="{% if  paginator['page'] >= paginator['total_page'] %} disabled {% endif %}">
                    <a href="{% if  paginator['page'] >= paginator['total_page'] %} # {% else %}
                       ?page={{ paginator['page'] + 1 }}{% endif %}">Next</a>
                </li>
                <li><a href="?page={{ paginator['total_page'] }}">Last</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
